ion-header {
    margin-bottom: 45px;
    background: rgb(25, 212, 18);
    background: radial-gradient(circle, rgb(24, 14, 27) 30%, rgb(21, 143, 219) 99%);
}

ion-item {
    --background: none;
    & ion-label {
        color: #d61010;
        font-family: Arial, Helvetica, sans-serif;
    }
}